#main {
    background-color: #fafafa;
    font-family: 'Space-Goretzsk', monospace;
    
}
.button {
    background-color: #2549d3;
    color: white;
    display: inline-block;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    border: solid blue;
    font-family: 'Space-Mono', monospace;
    
}

.button:hover {
    cursor:grabbing;
}






/* Navigation Bar */


.nav-bar {
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 0 40px 20px 80px;
    color: rgb(46, 44, 44);

}
.nav-child1 {
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    margin-top: 8px;
    color: black;

    
}
.menu-items {
    display: flex;
    gap: 11px;
}
li {
    list-style: none;
    margin-right: 10px;
}
.nav-child2 {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.get-started {
    margin-right: 180px;
    margin-top: 8px;
    margin-left: 20px;
}



/*  Section two. With an image and textual introduction */



.section2 {
    display: flex;
    gap: 40px;
    margin: 70px 40px 20px 80px;
    justify-content: space-around;
}

.child {
    width: 50%;
}
.child.content {
    display: flex;
    flex-flow: column;
}



* {
    outline: solid black;
}

.main-content {
    font-size: 50px;
    color: #0f298b;
}
.mid-content {
    color:  rgb(46, 44, 44);
    margin-top: 20px;
    margin-bottom: 20px;
}

.end-content {
    display: flex;
    gap: 20px;
}
.learn-more {
    color: white;  
      
}

.image1 {
    width: 80%;
}

.play {
    width: 30%;
    
}




/* ************************************************************************************************ */

.section3{
    display: flex;
    width: 100%;
    margin-top: 80px;
    justify-content:space-evenly;
    background-color: white;
}

.section3-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.grandchild {
    display: flex;
    gap: 10px;
    color: gray;
}


.city {
    color:#2549d3;
    font-weight:bolder;
    font-size: 17px;
}













































































/* 

html {
    background-color: rgba(248, 244, 244, 0.925);
    font-family: 'Space-Mono', monospace;
    margin-top: 10px;
}
#main {
    position: absolute;
    width: 100%;
}

.nav-bar {
    display: block;
    top: 10px;
    width: 100%;
}


.nav-title {
    position: relative;
    font-size: 20px;
    margin: 30px 70px 20px 40px;
    font-family: 'Oleo Script', cursive;
}

.menu {
    margin: 10px;
    font-family: 'Space-Mono', monospace;
}
.blue {
    color: #2549D3;
    font-weight: 600;
}
.get-started {
    position: absolute;
    margin-left: 100px;
    margin-top: 5px;
    right: 60px;
    border: 2px solid #2549D3;
    background-color: #2549D3;
    border-radius: 4px;
    color : white;
    height: 36px;
    width: auto;
}
hr {
    border: solid black;
    border-width: thin;
}



.intro {
    display: flex;
    margin: 40px;
    
}
.intro-title {
    font-size: 50px;
    color: #2549D3;
}
.intro-content {
    width: 50%;
    display: inline-block;
}
.lower-content {
    position: relative;
    
    margin: 10px 0;
}
.play-icon {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top:3px;
    color: #FAFAFA;
    color: #0F298B;

    

}
.children {
    display: inline;
    width: 50%;
    margin: 0 5px;

}

.learn-more {
    background-color: #2549D3;
    color: white;
    border-radius: 7px;
    border: 2px solid #2549D3;
    height:36px;
    width: auto;
    margin-right: 5px;
}

.intro-images {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    width: 50%;
}
.intro-image {
    width: 70%;
}
.main-content {
    font-size: 20px;
    font-family: 'Space Mono',monospace;
}
.mid-content {
    color: rgb(92, 78, 78);
    margin: 10px 0 20px 0;
}



.search {
    font-family: 'Space-Mono', monospace;
    display: flex;
    width: 80%;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
}
.search-children {
    width: 25%;
    display: flex;
    flex-direction: column;
    
}

.search-children-main {
    font-size: 17px;
}
.search-children-footer{
    font-size: 14px;
    color: gray;
    text-align:center;
    padding-right: 35px;
}
.search-button {
    display: inline-block;
    background-color: #2549D3;
    color: white;
    border-radius: 7px;
    border: 2px solid #2549D3;
    height:36px;
    width: auto;
}



.products {
    margin: 50px;
}
.products-1 {
    font-size: 35px;
    color: #2549D3;
    font-weight: 600;
}
.products-title {
    
}
.products-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-title {
   font-size: 30px;
   color:#0F298B;
   font-weight: bold;
}

.products-subtitle {
    color: rgb(107, 103, 103);
    font-size: 18px;
}


.products-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.products-children{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 2px;
    justify-content: space-between;
    gap: 25px;
}
.products-images {
    width: 20%;
    margin-top: 25px ;
}
.products-image2 {
    width: 50%;
}
.products-image3 {
    width: 40%;
}
.home, .payments, .official {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(88, 85, 85);

}
.home-child, .payment-child, .official-child{
    margin-bottom: 10px;
}






.call-to-action {
    display: flex;
    margin-left: 50px;
}

.call-to-action-child {
    width: 50%;
    display: flex;
    flex-direction: column;

}
.call-to-action-image {
    width: 75%
}
.call-to-action-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.call-to-action-ticks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}












.other-properties {
    margin:80px 20px 10px 50px;
    font-size: 12px;
}

.other-properties-images {
    display: flex;
}
.other-properties-image {
    width: 30%;
    margin-right:20px;
}
.other-properties-title {
    color: #2549D3;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.other-properties-description { 
    font-size: 16px;
    margin-bottom: 20px;
}


.footer {
    display: flex;
    margin: 20px;
}

.child {
    width :25%;
}

.footer {
    background-color: #2549D3;
    color: white;
}
ul {
    list-style: none;
}

















*/